@import '../utils/colors.scss';

.modal {
    display: none;
    z-index: 20;
    background-color: rgba($color: #000000, $alpha: 0.8);
    width: 100%;
    height: 100vh;
    overflow: auto;
    left: 0;
    top: 0;

    .modal-content {
        position: relative;
        margin: auto;
        width: 30%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        // img {
        //     border-radius: 10px;
        // }
        .close {
        color: $White;
        font-size: 30px;
        font-weight: bold;        
        transition: all 0.5 ease-in;
        cursor: pointer;
        margin-left: auto;
        margin-bottom: 10px;
    }
    .close:hover {
        color: $Orange;
    }
    .modal-slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // margin-top: 100px;
        
        .next-prev {
            // display: flex;
            // width: 100%;
            // align-self: center;
            // justify-content: space-between;
            z-index: 1;
             .next,.prev {
                position: absolute;
                top: 43%;
                cursor: pointer;
                // display: flex;
                // align-items: center;
                // justify-content: center;
                padding: 1.1em 1.2em;
                // width: 50px;
                // height: 50px;
                text-align: center;
                // font-size: 30px;
                border-radius: 50%;
                // top:
                background-color: $White;
    }
    .next, .prev {
        color: $Orange;
    }
    .next {
        // right: 60px;
        // top: 30%;
        // left: 60%;
        // justify-self: start;
        right: -20px;
    }
    .prev {
        left: -20px;

        // top: 30%;
        // left: 30%;
        // margin-left: 40px;
        // float: left;
        // z-index: 1;
        // justify-self: end;
    }
}
            .prodImgSlides {
            width: 100%;
            height: auto;
            // margin-top: 20px;
            border-radius: 10px;
        }
       
        
        // .allProductImg {
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     margin-top: 20px;
        //     width: 100%;
        // }
        // .allProductImg img {
        //     width: 60px;
        //     height: auto;
        //     margin-left: 20px;
        // }
        // .allProductImg img:first-child {
        //     margin-left: 0px;
        // }
    
    }
    
    .modalImages {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 30px;
    .borderAround{
        border: 2px solid $Orange;
        opacity: 0.7;
    }
    .modalProdImages {
        width: 16%;
        height: auto;
        border-radius: 7px;
    }
    .modalProdImages:hover {
        opacity: 0.7;
        cursor: pointer;
    }
    }
    
    
 }
 
    
}