@import '../utils/colors.scss';

.modal {
    display: none;
    z-index: 20;
    background-color: rgba($color: #000000, $alpha: 0.8);
    width: 100%;
    height: 100vh;
    overflow: auto;
    left: 0;
    top: 0;

    .modal-content {
        position: relative;
        margin: auto;
        width: 30%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .close {
        color: $White;
        font-size: 30px;
        font-weight: bold;        
        transition: all 0.5 ease-in;
        cursor: pointer;
        margin-left: auto;
        margin-bottom: 10px;
    }
    .close:hover {
        color: $Orange;
    }
    .modal-slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .next-prev {
            z-index: 1;
             .next,.prev {
                position: absolute;
                top: 43%;
                cursor: pointer;
                padding: 1.1em 1.2em;
                text-align: center;
                border-radius: 50%;
                background-color: $White;
    }
    .prev:hover {
        color: $Orange;
    }
    .next {
        right: -20px;
    }
    .prev {
        left: -20px;
    }
}
            .prodImgSlides {
            width: 100%;
            height: auto;
            border-radius: 10px;
        }
    }
    
    .modalImages {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 30px;
    .borderAround{
        border: 2px solid $Orange;
        opacity: 0.7;
    }
    .modalProdImages {
        width: 16%;
        height: auto;
        border-radius: 7px;
    }
    .modalProdImages:hover {
        opacity: 0.7;
        cursor: pointer;
    }
    }    
 }  
}

@media (max-width: 1024px) {
    .modal{
        .modal-content{
            .modal-slide{
                .next-prev {
                .next,.prev {
                top: 46%;
                }
            }
            }
    }
}
}